@page "/"


<div class="row courses_inner">
    <div class="col-lg-9">
     <LearningContent/>
    </div>
    <div class="col-lg-3">
        <div class="course_item">
            <img src="img/courses/course-5.jpg" alt="">
         
        </div>
    </div>
</div>




